/* Basic styles */

.container {
	text-align: center;
	display: -ms-flexbox;
	display: flex;
}

.poem-title {
	text-decoration: underline;
}

.poem-author {
	text-decoration: overline;
}

.container p {
	font-style: italic;
}
